<div fxLayoutAlign="center center" fxFill class="main-div"> 
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form fxLayoutAlign="strech" fxLayout="column" class="form">
            <mat-form-field >
              <mat-label>Login</mat-label>
              <input matInput placeholder="Email" >
            </mat-form-field>
          
            <mat-form-field >
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password">
              </mat-form-field>

            <button mat-raised-button type="submit">Login</button>
          </form>
          
    </mat-card>
</div>
