<button mat-button (click)="OnLogout()">Logout</button>
<section fxLayout fxLayout="column" fxLayoutAlign="start center" > 
    <!-- default is row -->
    <mat-card color="warn" fxFlex="300px" fxFlexAlign="center"  >
        <!-- centered title  -->
      <mat-card-title fxLayoutAlign="center"> Key Partners </mat-card-title> 
      <mat-card-content fxLayout="column">
        
        <mat-form-field fxFlex="50%" fxFlexAlign="center"  >
            <mat-label>Txt goes here</mat-label>
            <textarea matInput class="textarea"></textarea>
          </mat-form-field>
    </mat-card-content>
    </mat-card>
</section>
